/* CSS STYLE SHEET*/
/* BODY */
body {
    background-color: rgb(216, 248, 255);
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 5px;
}
/* HEADER */
h1 {
    font-size: 80px;
    text-align: center;
    margin: 0;
}
header::after {
    content: "";
    clear: both;
    display: table;
}
header {
    background-color: rgb(195, 196, 158);
    margin: 0;
    padding: 10px;
}
header p {
    text-align: center;
    font-weight: bold;
    font-size: large;
    word-spacing: 2px;
    padding-top: 50px;
}
.icon {
    width: 80px;
    height: 80px;
}
.mypic {
    border-radius: 100%;
    width: 20rem;
    height: 20rem;
    display: block;
    margin: 0;
    float: left;
}
/* ASIDE */

aside ul {
    display: flex;
    flex-wrap: nowrap;
    /*margin-left: 15rem;*/
}
aside li {
    border-style: solid;
    border-width: 1px;
    list-style-type: none;
    padding: 0.5rem;
    margin-left: 7rem;
    margin-right: 5rem;
}
aside a {
    /*padding-right: 90px;*/
    margin: 2rem;
    font-size: 30px;
    text-underline-offset: none;
    font-weight: bolder;
}
/* a */
a {
    color: darkgreen;
}
/*H2*/
h2 {
    text-decoration: underline;
}

/* SECTION */
section {
    border-style: solid;
    border-width: 1px;
    margin-right: 5rem;
    margin-left: 5rem;
    padding: 2rem;
}
/* ARTICLE */
article {
    border-style: solid;
    border-width: 1px;
    margin-right: 5rem;
    margin-left: 5rem;
    padding: 2rem;
    margin-top: 2rem; 
}
/* FOOTER */
footer {
    border-style: solid;
    border-width: 1px;
    margin-right: 5rem;
    margin-left: 5rem;
    padding: 2rem;
    margin-top: 2rem;
}